// Creating Variables
$font-stack: 'PT Sans', sans-serif;
$primary-color: #3f3f3f;
$secondary-color: white;
$heading-text-color: white;
$highlight-color: #da532c;

/*Creating a Function*/
@mixin easeOut {
  transition: all 0.7s ease-out; // Have the color fade in and out.
}
