// Widescreens
@include mediaXl {
}

// Desktops & Laptops
@include mediaLg {
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  section {
    .row {
      grid-template-areas:
        'columnLeft'
        'columnRight';

      grid-template-columns: 1fr;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.showOverlay {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(-100%, 0, 0);

    .portrait {
      background: $branding-smImage;
      width: 150px;
      height: 150px;
    }
  }
}

/*Smartphones*/
@include mediaSm {
  main {
    .lg-heading {
      font-size: 2rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  main#home h1 {
    margin-top: 5vh;
  }

  .menu-btn {
    visibility: visible;
  }

  .menu {
    position: fixed;
    top: 0;
    visibility: hidden;

    &.showOverlay {
      visibility: visible;
    }

    &-branding,
    &-nav {
      /*Adds -branding to .menu, now it represents .menu-branding.*/
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 50%;
      height: 65vh;
    }

    &-nav {
      font-size: 12px;
      background: darken(white, $amount: 5);
      transform: translate3d(100%, 0, 0);

      &.showOverlay {
        /*Slide overlay menu from bottom.*/
        transform: translate3d(0, 0, 0);
      }
    }

    /*Branding Side*/
    &-branding {
      height: 35vh;
      background: darken(white, $amount: 5);
      transform: translate3d(-100%, 0, 0);
      @include easeOut;

      &.showOverlay {
        /*Slide overlay menu from top.*/
        transform: translate3d(0, 0, 0);
      }

      .portrait {
        background: $branding-smImage;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 3px $highlight-color;
      }
    }

    .nav-item {
      /*Have the item off the screen until show is addded by js.*/
      transform: translate3d(
        600px,
        0,
        0
      ); /*Moving item 600 px off the screen to start with.*/
      @include easeOut;

      &.showOverlay {
        /*Slide in from right.*/
        transform: translate3d(0, 0, 0);
      }
    }

    .nav-link {
      font-size: 20px;
    }
  }
}
