/* landscape phones */
@include mediaSm {
  .desc-text {
    display: block;
  }

  .main-text {
    font-size: 3em;
  }

  .hidden-text {
    font-size: 1.5em;
  }
}

/* Tablets */
@include mediaMd {
  .nav-text {
    font-size: 1.2em;
  }
}

@include mediaPrint {
  .screen-only {
    display: none;
  }
}
