@import 'config';

%color-shared {
  background-color: $primary-color !important; /* adding !important should make it override the default style with my custom one */
}

/* 
 * Body 
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack;
}

/* 
 * Top Nav 
 */
.bg-beluga {
  @extend %color-shared;
}
.nav-text {
  font-size: 1em;
}
.active-link {
  border-bottom-style: solid;
  border-color: #da532c;
  padding-bottom: 5px;
}
.border-primary {
  border-color: #da532c !important;
}

/* 
 * Main Section 
 */
.desc-text {
  display: none;
}
.main-text {
  font-size: 1.5em;
}
.about-me-img {
  width: 50%;
  height: auto;
}

/* 
 * Image Overlay 
 */
.img-container {
  position: relative;
  width: 50%;
}
.mod-image {
  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  @include easeOut;
  background-color: white;
}
.img-container:hover .overlay {
  opacity: 1;
}
.overlay-text {
  color: $primary-color;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.hidden-text {
  font-size: 0.7em;
  width: 90%;
  margin-left: 15px;
}

/*
  * Heading Elements
  */
.custom-heading div {
  width: 35%;
  height: 1px;
  background: $heading-text-color none repeat scroll 0% 0%;
}

/*
  * Footer
  */
.page-footer {
  padding: 2.5rem 0;
  color: $heading-text-color;
  text-align: center;
  background-color: $secondary-color;
}
.page-footer p:last-child {
  margin-bottom: 0;
}

/*
  * Mobile Settings
  */
@import 'mobile';
